@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.3rem;
  font-family: var(--font-kanit), sans-serif;

}
#blog-font {
  font-family: var(--font-kanit), sans-serif;

}
#blog-font-content {
  font-family: var(--font-kanit), sans-serif;
  font-size: 1rem;

}
h2 {
  font-family: var(--font-cursive), sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
p {
  font-family: var(--font-kanit), sans-serif;
  font-weight: 400;

}

span {

    font-family: var(--font-kanit), sans-serif;
    font-weight: 400;
  
}

.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.preloader-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.preloader-image {

  animation: load 4.5s ease-in infinite;
}

.logo-text {
  font-size: 2.5rem;
  letter-spacing: 0.2em;
  margin-bottom: 20px;
}

.loading-bar {
  width: 0%;
  height: 3px;
  background: white;
  animation: loadbar 2.5s ease-in-out forwards;
}

.testimonial-wrapper {

  position: relative;
}
.testimonial-track {

  display: flex;
  gap: 1.3rem;
  width: 100%;
}

@keyframes loadbar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes load {
  from {

    transform: rotate(0deg);
    }
  to {
    transform: rotate(360deg);

  }
}
